main {
    text-align: center;
}
.banner {
    background-image: url("../assets/images/coffee-circle.jpg");
    background-size: cover;
    background-position: 100%;
    padding-bottom: 35%;
    text-align: center;
}
.banner__box {
    background-color: #393939;
    color:white;
    display:inline-block;
    padding: 0px 30px 50px;
}
.banner__title {
    margin: 0px;
}
.sub-nav__list {
    background-color: #393939;
    text-align: center;
    padding: 15px;
}
.sub-nav__list-item {
    display: inline;
    text-align: center;
    padding: 0px 15px ;
    border-left: 3px solid #5BACC3;
    text-decoration: none;
    color: white;
    text-transform:uppercase;
}
.panel__descrip {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
}

