/* 
general specifics for global elements 
*/
* {
  margin: 0rem;
  padding: 0rem;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 100;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans";
}

/* 
navbar css 
*/
.primary__header {
  display: flex;
  background-color: #FFF0ED;
  padding: 1.25rem;
}

.navbar {
  margin-left: auto;
}

.navbar__list-item {
  padding: 0rem 0.938rem;
}

.navbar__image {
  height: 2rem;
}

.navbar__title {
  font-size: 1.75rem;
}

.navbar__list {
  margin-top: 0.438rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.primary__header a {
  color: #393939;
}

/* 
panel specifics global 
*/
.panel {
  padding: 0.625rem 0rem 2.5rem 0rem;
  width: 100%;
}

.panel__title {
  padding: 0.625rem 0rem;
  font-size: 2rem;
}

.panel__subtitle {
  padding: 0.938rem 0rem 0.625rem 0rem;
  font-size: 1.25rem;
}

.panel__price {
  color: #5BACC3;
  font-size: 1rem;
  padding: 0.313rem;
}

.panel--rose {
  background-color: #FFF0ED;
}

.panel--grey {
  background-color: #F7F7F7;
}

.panel--white {
  background-color: white;
}

/* 
anchor tags hover global 
*/
a:hover {
  color: #5BACC3;
}

/* 
button specifics for index
 */
.btn {
  border: 2px solid #393939;
  color: white;
  position: relative;
  padding: 0.625rem 2.5rem;
  bottom: 0.313rem;
  right: 0.313rem;
}
.btn:active {
  bottom: 0rem;
  right: 0rem;
}
.btn:hover {
  color: white;
}

.btn__border {
  background-color: #5BACC3;
  position: absolute;
  padding: 0.75rem 0rem;
}

.btn--view {
  display: inline-block;
}

/* 
hero section
 */
.hero__img--banner {
  height: 25rem;
}

.hero.panel--rose {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__descrip {
  margin-bottom: 5%;
  width: 50%;
  font-size: 0.85rem;
}

.hero {
  padding: 0.625rem;
  width: 100%;
}

.hero__title {
  padding: 0.313rem 0rem;
  font-size: 3rem;
  margin-bottom: 5%;
}

.hero__col--text {
  width: 35rem;
}

/* 
panel section */
.panel__discount {
  background-color: #393939;
  color: white;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 5% 20%;
  text-align: center;
  font-weight: 400;
  -webkit-animation: flash 2.5s alternate;
          animation: flash 2.5s alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
  from {
    background: #393939;
  }
  to {
    background: #5BACC3;
  }
}

@keyframes flash {
  from {
    background: #393939;
  }
  to {
    background: #5BACC3;
  }
}
.panel__title {
  display: block;
  font-size: 3rem;
}

.panel--grey {
  text-align: center;
  padding-top: 1.875rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.panel--grey img {
  height: 13rem;
}

.panel__img {
  padding: 1.25rem 0rem;
  padding-right: 1.875rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}

.panel__img--img {
  height: 5vh;
}

.panel.panel--white {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
}

.panel--info {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.25rem;
}

.panel__div--background {
  background-image: url("/assets/images/coldbrewbackground.png");
  height: 23rem;
  width: 21rem;
  background-size: cover;
  position: relative;
}

.panel__col--img {
  height: 15rem;
  border: 5px solid #5BACC3;
  padding: 3.75rem 6.25rem;
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}
.panel__col--img:hover {
  -webkit-animation: rotation 2s linear infinite;
          animation: rotation 2s linear infinite;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.panel__descrip {
  padding-bottom: 5%;
  width: 50%;
  font-size: 0.75rem;
}

/* 
card and card container css
  */
.card {
  display: inline-block;
  border: 1px solid white;
  margin: 1.25rem;
  border-radius: 2%;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  width: 18rem;
  height: 22rem;
  text-align: center;
  padding-top: 1.25rem;
  background-color: white;
}

.card__image {
  background-color: white;
}

.card__subtitle {
  padding: 0.938rem 0rem 0.625rem 0rem;
  font-size: 1rem;
  text-align: left;
}

.card__price {
  color: #5BACC3;
  font-size: 1rem;
  padding: 0.625rem;
  text-align: right;
  font-weight: 600;
}

.card__descrip {
  font-size: 0.6rem;
  text-align: left;
  color: #909090;
}

.card__header {
  padding-left: 0.625rem;
  background-color: #FFF0ED;
}

.card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  margin-top: 0.625rem;
  border-radius: 2%;
  background-color: #FFF0ED;
  height: 8.2rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

/* heavy font-weight for discount section */
span {
  font-weight: 900;
}

/* 
footer specifics 
*/
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #FFF0ED;
  padding: 3rem 0rem;
  text-align: center;
  position: relative;
  align-items: stretch;
}

.footer__section {
  display: inline-block;
  padding-right: 10%;
  text-align: left;
}

.footer__subtitle {
  padding: 0.938rem 0rem;
  font-size: 1.75rem;
}

.footer__info {
  font-size: 0.75rem;
  padding: 0.313rem 0rem;
}

.footer__logo1 {
  position: absolute;
  left: -0.938rem;
  top: 0.313rem;
  height: 4rem;
}

.footer__logo2 {
  position: absolute;
  right: -0.938rem;
  bottom: 0.313rem;
  height: 4rem;
}

.footer img {
  height: 2.5rem;
}/*# sourceMappingURL=landing.css.map */