/* 
general specifics for global elements 
*/
* {
    margin: 0rem;
    padding: 0rem;
}
li {
    list-style: none;
}
h1, h2, h3 {
    font-weight: 100;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans';
}

/* 
navbar css 
*/
.primary__header {
    display: flex;
    background-color:#FFF0ED;
    padding: 1.25rem;
}
.navbar {
    margin-left: auto; 
}
.navbar__list-item {
    padding: 0rem 0.938rem ;
}
.navbar__image{
    height: 2rem;
}
.navbar__title {
    font-size: 1.75rem;
}
.navbar__list {
    margin-top: 0.438rem;
    display: flex;
    justify-content:end;
    align-items: center;
}
.primary__header a {
    color: #393939;
}

/* 
panel specifics global 
*/
.panel {
    padding: 0.625rem 0rem 2.5rem 0rem;
    width: 100%;
}
.panel__title {
    padding: 0.625rem 0rem;
    font-size: 2rem;
}
.panel__subtitle {
    padding: 0.938rem 0rem 0.625rem 0rem;
    font-size: 1.25rem;
}
.panel__price {
    color: #5BACC3;
    font-size: 1rem;
    padding: 0.313rem;
}
.panel--rose {
    background-color: #FFF0ED;
}
.panel--grey {
    background-color: #F7F7F7;
    
}
.panel--white {
    background-color: white;
}

/* 
anchor tags hover global 
*/
a:hover {
    color: #5BACC3;
}
